<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Image Collector</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>Welcome to the Dog Image Collector !</h1>

    <form id="userForm">

        <div id="user">
            <label for="username">Enter Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div><button type="submit">Load dog image Collection</button></div>   
    </form>
    <button id="fetchDog">Fetch and Store dog image</button>
    <button id="nextDog">Next Dog Image</button>
    <div>
        <img id="dogImage" src="" alt="No image loaded" />
    </div>
   
    <script src="script.js"></script>
</body>

</html>